.form {
    display: flex;
    gap: 10px;
}

.input {
    flex-grow: 1;
}

.input:focus, .input:focus-visible {
    outline: 3px solid var(--primary);
    outline-offset: -1px;
}

.input, .buttonReset, .buttonSave{
    border-radius: 10px;
    border: none;
}

.buttonReset:hover, .buttonSave:hover {
    cursor: pointer;
}

.buttonSave {
    background-color: var(--success);
}

.buttonSave:disabled {
    opacity: 0.6;
    cursor: auto;
}

.buttonReset {
    background-color: var(--danger);
}